html {
  background-color: #2e2e2e;
}
.App {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.App-header {
  background-color: black;
  position: relative;
  height: 35px;
  padding: 20px;
  color: #61dafb;
  -webkit-box-shadow: black 0px 2px 17px 0px;
  box-shadow: black 0px 2px 17px 0px;
}

.logo-holder,
.side-right {
  position: absolute;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
}
.logo-holder {
  left: 25px;
}

.side-right {
  right: 10px;
  width: 150px;
  text-align: right;
}

.brand {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

.App-intro {
  font-size: large;
}

.simple-board {
  padding: 25px;
  min-height: 900px;
  height: 100%;
  max-width: 1765px;
  background-color: #001e26;
}

.date,
.time {
  font: 15px helvetica, arial, sans-serif;
  width: 150px;
  display: inline-block;
  color: #bbc9cc;
}

.time {
  font-size: 20px;
}

.card {
  display: inline-block;
  color: #d6d6d6;
  background-color: #002b35;
  -webkit-box-shadow: black 0px 2px 17px 0px;
  box-shadow: black 0px 2px 17px 0px;
  width: 400px;
  min-height: 265px;
  height: 600px;
  margin: 20px 20px 0px 0px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.card-header {
  color: #bbc9cc;
  line-height: 55px;
  height: 55px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid #24454f;
  background-color: #013642;
}

.card-body, .tests-body {
  /*margin-left: auto;
  margin-right: auto;*/
  padding: 20px;
  text-align: left;
}

.card-body ul, .tests-body ul {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  list-style: none;
  overflow: hidden;
}

.tests-body {
  border-top: 1px solid #24454f;
  text-transform: uppercase;

}

.tests-body ul {
  margin-top: 0px;
}

.tests-status {
  display: flex;
  justify-content: space-between;
}

.test-status-label {
  font-size: 18px;
  color: #647b82;
}

.card-body li, .tests-body li {
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.card-body li > span, .tests-body li > span {
  margin-right: 10px;
  min-width: 60px;
  display: inline-block;
  white-space: nowrap;
}

.card-body .st-triangle {
  position: absolute;
  top: 140px;
  right: 60px;
  width: 80px;
  height: 60px;
}

.tests-body {
  background-color: #002b35;
}

.st-status-pass,
.st-status-fail,
.st-status-running {
  font-weight: bold;
  padding-top: 2px;
  color: #289e00;
}

.st-status-fail {
  color: #d22540;
}

.st-status-running {
  color: #61dafb;
}

.arrow-up-pass,
.arrow-up-fail,
.arrow-up-running {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 60px solid #289e00;
  position: relative;
}

.arrow-up-fail {
  border-bottom: 60px solid #f5003d;
}

.arrow-up-running {
  border-bottom: 60px solid #00B8F5;
}


.symbol {
  width: 30px;
  height: 30px;
  position: absolute;
  color: #2e2e2e;
  font-size: 30px;
  line-height: 30px;
  right: -19px;
  top: 24px;
  font-weight: bold;
  font-family: monospace;
}

span.list-key {
  width: 65px;
  text-transform: uppercase;
  font-size: 14px;
  color: #547b82;
}

.test-date {
  margin-top: 18px;
  font-size: 16px;
  color: #bbc9cc;
}

.card-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 10px;
}

.image-holder,
.name-holder {
  display: inline-block;
  vertical-align: top;
}

.image-holder {
  margin-right: 10px;
}

.image-holder img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.spinner {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-left: -7px;
}

/* status box */

div.status-box {
  border: 1px solid #212121;
  width: 150px;
  height: 170px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}

div.env-status {
  padding: 5px;
  display: inline-block;
  width: 50%;
  font-weight: bolder;
  font-size: 16px;
  margin: 10px 0px 15px;
}

div.free {
  /*background-color: #289e00;*/
  color: #289e00;
}

div.busy {
  /*background-color: #f5003d;*/
  color: #f5003d;
}

div.status-box-header {
  /*background-color: #d6d6d6;*/
  /*background-color: #2D5986;*/
  padding: 5px 0px;
  margin-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid #262626;
  color: #999;
  text-transform: uppercase;
}
div.status-date-box {
  position: absolute;
  bottom:10px;
  text-align: center;
  display: block;
  width: 100%;
}

div.state-date {
  font-size: 14px;
}

div.state-time {
  font-size: 12px;
}

div.user-card {
  display: flex;
  margin-bottom: 40px
}

div.user-holder {
  margin-bottom: 5px;
}

div.name-holder, div.user-date {
  font-size: 16px;
  color: #bbc9cc;
}

div.name-holder {
  font-weight: 400;
}

.test-threads {
  margin-top: 28px;
}

li.test-thread {
  display: flex;
  justify-content: space-between;
  background-color: #00212a;
  width: 150px;
  height: 20px;
  padding: 12px;
  margin-bottom: 7px;
}

span.thread-name {
  font-size: 14px;
}

li > span.thread-value {
  font-size: 18px;
  color: #547b82;
  text-align: right;
  margin-right: 0px;
  font-weight: bold;
  font-size: 18px;

}

li > span.thread-value.pass {
  color: #5eb05a;
}

li > span.thread-value.wait {
  color: #00B8F5;
}

li > span.thread-value.fail {
  color: #d22540;
}

.bouncing_loading {
  /*display: none;*/
}

.bouncing_loading > div {
  width: 8px;
  height: 8px;
  background-color: #05aaff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bouncing_loading .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s
}

.bouncing_loading .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s
}

@-webkit-keyframes bouncedelay {
  0%,80%,100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1)
  }
}

@keyframes bouncedelay {
  0%,80%,100% {
    transform: scale(0);
    -webkit-transform: scale(0)
  }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1)
  }
}
