.App {
  text-align: center;
  font-family: helvetica,arial, sans-serif;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position: relative;
  top: -6px;
}

.App-header {
  background-color: #222;
  position: relative;
  height: 60px;
  padding: 20px;
  color: #61DAFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:  justify;
      -ms-flex-pack:  justify;
          justify-content:  space-between;
  -webkit-box-shadow: black 0px 2px 15px 13px;
          box-shadow: black 0px 2px 15px 13px;
  border: 1px solid #2E2E2E;
}

.logo-holder, .side-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-right {
  margin-top: 0px;
  padding: 10px;
}

.brand {
  font-size: 40px;
  margin: 0px;
  padding-top: 10px;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}



.simple-board {
  padding: 20px;
  min-height: 800px;
  height: 100%;
  background-color: #2E2E2E;
}

.date , .time{
  font: 15px helvetica,arial, sans-serif;
  width: 150px;
}

.time{
  font-size: 25px;
}

.card {
  color: #D6D6D6;
  border: 3px solid #2E2E2E;
  display: inline-block;
  width: 500px;
  height: 250px;
  margin: 10px 5px 10px 0;
  position: relative;
  -webkit-box-shadow: black 0px 0px 10px 0px;
          box-shadow: black 0px 0px 10px 0px;
}

.card-header {
  color: #DBA400;
  line-height: 40px;
  height: 40px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px solid #262626;
}

.card-body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  height: 65%;
  text-align: left;
}

.card-body ul {
  padding: 0px;
  margin: 25px 0px 0px 0px;
  list-style: none;
}

.card-body li {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 23px;
}

.card-body li > span {
  margin-right: 10px;
  min-width: 60px;
  display: inline-block;
}

span.list-key {
  width:80px;
}
